<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>existinguser</title>
    <link rel="stylesheet" href="/existinguser.css" />
  </head>
  <body style="padding: 50px 0 ">
    <h1 style=" text-align: center;">Ticket already exists</h1>
</body>
</html>