/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; /* Center align the content */
}

/* Navigation styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Tickets page styles */
h1 {
    color: #333;
    margin-top: 30px;
}

.tickets-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.ticket {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px; /* Adjust the width as needed */
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
